
  .TopDesarrolladores {
    display: flex;
    float: left;
  }
  .ListaDesarrolladores {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    background:linear-gradient(rgba(0, 0, 0, 0.849),rgba(117, 115, 115, 0));
    border-radius: 70px;
    background-position: 30% 17%;
    background-size: cover;
    text-align: center;
  }

  .Foto {
    width: 180px;
    height: 180px;
    margin: 50px 50px;
    margin: center;
    margin-bottom: 55px;
    border-radius: 130px;
  }
  .Nombre{
    margin-top: -50px;
  }
 