:root {
  --blanco: rgb(211, 206, 206);
  /*--fondo: rgb(0, 1, 68);*/
  background: radial-gradient(circle, rgba(63,94,251,1) 34%, rgba(252,70,107,1) 87%);
 
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      background: var(--fondo);
  }
  .PaginaPrincipal {
    margin-top: 0;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.658);
}
.Titulo {
    font-family: 'Secular One', sans-serif;
    font-weight: normal;
    color: var(--blanco);
    font-size: 30px;
    margin: 20px 20px;
}

.Icono1{
    width:20%;
    height:20%;
    border-radius: 200px;
    margin-left: 39%;
    margin-top: 10px;
    border: 6px solid rgba(255, 54, 188, 0.603);
    box-shadow: 18px 18px 18px 0 rgba(0, 0, 0, 0.637);
    animation: movimiento 2.7s linear infinite;
}
@keyframes movimiento{
  0%{
    transform: translateY(o);
  }
  50%{
    transform: translateY(30px);
  }
  100%{
    transform: translateY(0);
  }
}
.Icono2{
  width:20%;
  height:20%;
  border-radius: 200px;
  margin-left: 350px;
  border: 6px solid rgba(67, 252, 181, 0.603);
  box-shadow: 18px 18px 18px 0 rgba(0, 0, 0, 0.637);
  animation: movimiento 2.3s linear infinite;
}
.Icono3{
  width:20%;
  height:20%;
  border-radius: 200px;
  margin-left: 80px;
  border: 6px solid rgba(48, 179, 255, 0.603);
  box-shadow: 18px 18px 18px 0 rgba(0, 0, 0, 0.637);
  animation: movimiento 2.5s linear infinite;
}
.Boton {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 8px 8px;
    margin-right: 15px;
    background: rgba(0, 0, 0, 0.575);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }
  .Boton:hover {
    background: white;
    color: rgb(4, 4, 158);
  }

  .Decoracion{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.808);
    opacity: .3;

    position: absolute;
    bottom: -150;

    animation: Animacion 3s linear infinite ;

  }
  .Decoracion:nth-child(1){
    width: 30px;
    height: 30px;
    left: 5%;
    animation-duration: 3.5s;
    background: rgb(232, 71, 238);
  }

  .Decoracion:nth-child(2){
    width: 60px;
    height: 60px;
    left: 25%;
    animation-duration: 2.5s;
    background: rgb(57, 231, 124);
  }
  .Decoracion:nth-child(3){
    width: 40px;
    height: 40px;
    left: 45%;
    animation-duration: 4s;
    background: rgb(57, 153, 231);
  }
  .Decoracion:nth-child(4){
    width: 65px;
    height: 65px;
    left: 65%;
    animation-duration: 4s;
    background: rgb(231, 57, 217);
  }
  .Decoracion:nth-child(5){
    width: 55px;
    height: 55px;
    left: 75%;
    animation-duration: 6s;
    background: rgb(57, 231, 124);
  }
  .Decoracion:nth-child(6){
    width: 47px;
    height: 47px;
    left: 12%;
    animation-duration: 3s;
    background: rgb(231, 228, 57);
  }
  .Decoracion:nth-child(7){
    width: 30px;
    height: 30px;
    left: 90%;
    animation-duration: 3s;
    background: rgb(231, 228, 57);
  }
  
  @keyframes Animacion{
    0%{
      bottom: 0;
      opacity: 0;
    }
    30%{
      transform: translateX(30px);
    }
    50%{
      opacity: .4;
    }
    100%{
      bottom: 100vh;
      opacity: 0;
    }
  }
